{% extends "layout.html "%}
{% block content %}
 	<h1>Epidemic At Your School</h1>
		<div class="column full_size unit demo-frame">
			<div>
				<h3>How many people at your school are experiencing symptoms? Search a school to find out.</h3>
				<form method="post" action="/dosearchschool">
          <label for="searchschool">Search school:</label><br>
          <input type="text" id="searchschool" name="searchschool"><br>
					<label></label>
					{% for i in data %}
  				<h1># of people: {{i[0]}}</h1>
					{% endfor %}
        	<button id="searchschoolbutton" class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
				</form>
			</div>
		</div>
		<div class="column full_size unit demo-frame">
				<a id="logoutButton" class="btn btn-lg btn-primary btn-block" href="/logout">LOG OUT</a>
		</div>

<script>
</script>
{% endblock content %}
